env.sh
riscv-tools-install
*memory_stats.csv
sim/ucli.key
target-design/switch/switchconfig.h
target-design/partition/partitionconfig.h
sim[0-9]
build-setup-log
tags
build
scala-doc-env.sh
*.swp
/.conda-env
.metals
vivado*.log
vivado*.jou
deploy/fireaxe-tests
sim/midas/test-outputs/*.log
fireaxe-scripts/qsfp-sweep-intermediate
fireaxe-scripts/fame5-sweep-intermediate
fireaxe-scripts/perf-sweep-workload/run-cycles/
fireaxe-scripts/perf-results
fireaxe-scripts/tip-intermediate
fireaxe-scripts/tip-results
fireaxe-scripts/ddio-intermediate/
fireaxe-scripts/ddio-results/
fireaxe-scripts/go
fireaxe-scripts/go-gc-intermediate
fireaxe-scripts/go-gc-results
fireaxe-scripts/generated-plots
fireaxe-scripts/*.log
deploy/sim-dir
deploy/workloads
